<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>
      <i></i> <span>These chapters are focused on giving quality engineers or developers the skills necessary in order to become excellent software or quality engineers. </span>
<span></span>
    </p>

    <button (click)="scroll('deciding')" class="decidingAutomation"> Types of Testing and Deciding on Test Automation framework for your team </button>
    <h5 id="deciding">{{decidingTwo}}</h5>
    <p>To be clear, there are various types of tests that a quality engineer needs to be familiar with.
      When I started as a quality engineer, I literally looked up all the different types of tests that are applicable.</p>



  </div>
</div>
