.tableOfContents {
  text-decoration: underline !important;
}

#toc_container {
   background: #f9f9f9 none repeat scroll 0 0;
   border: 1px solid #aaa;
   display: table;
   font-size: 95%;
   margin-bottom: 1em;
   padding: 20px;
   width: auto;
}

.toc_title {
  margin-top: -17px;
   font-weight: 700;
   text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
   list-style: outside none none !important;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
           border: none;
           cursor:pointer;
           overflow: hidden;
}

.chapter_contents {
  text-align: left;
}

.scrollLink {
  color: blue;
}

.chapters-subheadings {
  font-size: 18px;
  font-weight: bold;
}

.chapters-video {
  margin-top: 10px;
  display: block;
  margin-left: 306px;
}
