<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>
      <i></i> <span>These chapters are focused on giving quality engineers or developers the skills necessary in order to become excellent software or quality engineers. </span>
<span></span>
    </p>
<div id="toc_container">
  <p class="toc_title">Chapter Contents</p>
    <ul class="toc_list">
  <li>Getting Started By Planning with Your Scrum Team!</li>
<ul>
    <button (click)="scroll('deciding')" id="decidingAutomation" class="scrollLink"> Types of Testing and Creating a Release Test Strategy</button>
  </ul>
</ul>
</div>
<div class="chapter_contents">
    <h5 id="deciding">{{decidingTwo}}</h5>
    <p>To be clear, there are various types of tests that a quality engineer needs to be familiar with.
      When I started as a quality engineer, I literally looked up all the different types of tests that are applicable, however I found this
      <a href="http://www.softwaretestinghelp.com/types-of-software-testing/">site</a> to be the most comprehensive available for learning the different types of functional testing.
      Also, most teams will require a release test strategy for the web application they will be releasing to production.
      A release test strategy typically involves planning with a product spec review and then creating a release plan along with an estimate of the release date.
      The following information is what I would typically include in your release test strategy:<br></p>
<ul type="disc">
<li>Determine the release date of functionality that will go into production with your scrum team.</li>
<li>Determine the features that your team would like to prioritize together. </li>
<li>Discuss with your team on the framework for automation you'd prefer to use. </li>
<li>Test Data Management and CICD process </li>
<li>Performance Testing for the application, UI as well as API</li>
<li> End to end automation testing </li>
<li>Sign off on release strategy from your product owner as well as upper management. </li>
</ul>
<p>
  I know you are looking at this list and saying to yourself, is this really doable?? Yes, it is and don't worry we will break down the aspects of this madness bullet by bullet!
</p>
  </div>
</div>
</div>
