.logo {
  width: 100px;
  font-style: silver;
  font-style: #f8f9fa,
}

.title {
  font-style: #f8f9fa,
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
  color: blue;
}

a {
  color: blue;

}
h1 {
  color: blue;
}

header {
  color: silver;
}



body {
  color: silver;
}
