<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/QaTestExcellence.png" alt="qa test excellence"/>
      <span class="title" font-style="silver" id="testExcellence">TestExcellence</span>
      <script>
      function myFunction() {
    document.getElementById("testExcellence").style.color = "initial";
}
      </script>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">Cultivating talent for individuals in the quality engineering field!</q>
    <br>
    <br>
      <iframe src="//www.youtube.com/embed/Yk-JCb74mqM" frameborder="0" allowfullscreen width="600" height="400"></iframe>
  </div>

</div>
